.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 95%;
  height: 600px;
  border-radius: 10px;
  margin: auto;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32vh;
  font-size: 3rem;
  user-select: none;
  background-color: transparent;
  border: none;
  user-select: none;
  outline: none;
  z-index: 10;
  background-color: white;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32vh;
  font-size: 3rem;
  user-select: none;
  background-color: transparent;
  border: none;
  user-select: none;
  outline: none;
  z-index: 10;
  background-color: white;
}


.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}